@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animation-white {
  position: relative;
}

.underline-animation-white::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.underline-animation-white:hover::after {
  width: 100%;
}

.promo1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/promo1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.promo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/promo2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promoAttach {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/bgAttached.png');
  background-size: cover;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: center;
}
.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/testimonials.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Scandinavian1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/Scandinavian1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Chandeliers3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/Chandeliers3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/aboutbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contactUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url('/images/contactbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.whyUsImg1 {
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
}
.whyUsImg2 {
  border-top-left-radius: 4rem;
}
.whyUsImg3 {
  border-top-right-radius: 4rem;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.5s ease-out;
  animation-fill-mode: both;
}
